.nav{
   position: fixed;
   width: 100%;
   z-index: 9999;
   border-bottom: 2px solid #c7ff84;
   
}
.Navbox{
    font-size: 18px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}
.displayNone{
  display: none;
}
.optionV{
    display: none;
}
.text2{
    display: none;
}
/* .logo{
    font-size: 80px;
    text-align: center;
    color: #c7ff84;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 15px #bee7d8, 0 0 10px #00e645, 0 0 15px #00e600, 0 0 30px #08410b, 0 0 35px #020b14;
    }
    to {
      text-shadow: 0 0 25px #050505, 0 0 20px #050505, 0 0 20px #0a0a0a, 0 0 30px #111312, 0 0 50px #0a0a0a;
    }
} */
.logo{
    animation: flicker 1.2s infinite alternate;
    color:#c7ff84 ;
   
}
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 0 0 15px #bee7d8, 0 0 20px hsl(197, 77%, 46%), 0 0 25px #089e97, 0 0 25px #eceeec, 0 0 30px #020b14;
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

.text1:hover{
  color: #c7ff84;
  text-shadow:  0 0 10px #7fbea6, 0 0 10px #c7ff84, 0 0 10px #81dd11, 0 0 90px #c7ff84, 0 0 50px #73c70d;
}
.skilltext{
    font-weight: bold;
    color: #c7ff84;
    text-shadow:  0 0 10px #c7ff84,0 0 10px #0c1105,0 0 15px #090a09;
    /* background-color: #00e60c; */
}
.intro_box{
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    padding-top: 150px;
    width: 90%;
    margin: auto;
    background-image: url('');
}
.container{
    width: 95%;
    margin: auto;
    padding-top: 130px;
    border: 3px solid #c7ff84;

}
.heading{
    width: 55%;
    text-align: left;
    padding-left: 100px;
    position: relative;
    z-index: 99;
    
}
.heading::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 1000px;
    left: 40%;
    top: -180%;
    z-index: -90;
    background-image: linear-gradient(to bottom right,#86ec08 20%, aqua 60%,#86ec08 20%); 
    animation: animate 5s linear infinite;
}
.heading:hover{
    background-color: aqua;
} 
@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.heading1{
    color: #c7ff84; 
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    font-weight: bold;
    
}
.heading2{
   font-size: 18px;
   font-weight: bolder;
}
.heading3{
    font-size: 40px;
    line-height: 45px;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
    color: #c7ff84; 
}
.h3{
    animation: glow 1.5s ease-in-out infinite alternate;
}

.heading4{
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
    color: #c7ff84; 
    animation: glow 1.3s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
      text-shadow: 0 0 15px #bee7d8, 0 0 10px #00e645, 0 0 5px #7ceb7c, 0 0 3px #064409, 0 0 5px #020b14;
    }
}
.heading5{
    animation: flicker 1.2s infinite alternate;
    color:#c7ff84 ;
}

.intro_img{
padding: 10px;
width: 30%;
border: 4px solid aqua; 
 border-radius: 50%;
 animation: glow 1.3s ease-in-out ;
 box-shadow: 0 0 35px aqua;

}



.intro_img img{
    border-radius: 50%; 
}
.skill_img{
    width: 80%;
    height: 85%;
    margin: auto;
    margin-bottom: 10px;
   
}
.button{
    color: black;
    margin-top: 10px;
    width: 200px;
}
.aboutme_text{
    font-family: 'Sriracha', cursive;
    font-size: 18px;
    color: #c7ff84;
}
.box_grid{
    /* animation: animate 4s linear infinite; */
   position: relative;
    z-index: 99;
}
.box_grid::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 1000px;
    left: 38%;
    top: -65%;
    z-index: -90;
    background-image: linear-gradient(to bottom right,#86ec08 20%, aqua 60%,#86ec08 20%);
    animation: animate 5s linear infinite;
}
.box_grid:hover{
 background-color: aqua;
}
@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* 
.box_grid::after{

} */

.intro_img2{
    display: none;
}
.projectDesk{
    width: 90%;
    border: 3px solid aqua;
    padding: 5px;
    background-color: aquamarine;
    margin: auto;
}
.projectDesk img:hover{
   border: 3px solid rgb(120, 126, 120);
}
.projectMobi{
    width: 20%;
    border: 3px solid aqua;
    padding: 5px;
    background-color: aquamarine;
    position: absolute;
    top: 35%;
    left: 80%;
    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 5px;
}
.projectMobi2{
    width: 20%;
    border: 3px solid aqua;
    padding: 5px;
    background-color: aquamarine;
    position: absolute;
    top: 35%;
    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 5px;
}
.form input{
 margin-top: 10px;
}
.form textarea{
    margin-top: 10px;
}
.form :last-child:hover{
   background-color: rgb(223, 220, 220);
   color:black;
   font-size: 18px;
   font-weight: bold;
}



@media all and (min-width:320px) and (max-width:479px){
.aboutme{
    gap: 15px;
}
.aboutme_text{
    font-family: 'Bad Script', cursive;
}
.heading{
    margin: auto;
    width: 90%;
    padding-left: 0px;
}
.Navbox{
 display: none;
}
.text1{
    display: none;
}
.intro_box{
    width: 100%;
    padding-top: 100px;
}
.displayNone{
    display: block;
    position: relative;
}
.optionV{
    position: absolute;
    padding: 5px;
    right: 8%;
    top: 45px;
   background-color: rgb(210, 247, 247);
   border-bottom-right-radius: 10px;
   border-top-left-radius: 10px;
}
.heading1{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.heading2{
    font-size: 15px;
    text-align: center;
}
.intro_img{
 display: none;
}
.heading{
    width: 97%;
    border: none;
}
.intro_img2{
  display: block;
  width: 75%;
  border: 3px solid aqua;
  box-shadow: 0 0 15px aqua;
  margin: auto;
  padding: 5px;
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.intro_img2 img {
    width: 100%;
   border-radius: 50%;
}
.skill_img{
    width: 50%;
    height: 55%;
    margin: auto;
    margin-bottom: 10px;
}
.projectMobi{
    padding: 3px;
    background-color: rgb(164, 230, 221);
    height: fit-content;
}
.heading::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 1000px;
    left: 30%;
    top: -60%;
    z-index: -90;
    background-color: #73c70d ;
    animation: animate 5s linear infinite;
}
}